.courseItemwrap{
    width: 100%;
    padding-right: 1rem;
    .header{
        text-align: right;
    }
    .content-item{
        
        cursor: pointer;

    }
    .content-img{
        position: absolute;
    }

}